.services {
  @include flex;
  flex-direction: column;
  gap: 5rem;
  text-align: center;
  padding: 10rem 2.5rem;
  font-family: map-get($fonts, open-sans);
  & .service {
    @include flex;
    gap: 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  #{&}-icon {
    width: 20%;
    margin-bottom: 1rem;
  }
  #{&}-paragraph {
    font-weight: 300;
    line-height: 1.5rem;
    margin-top: -0.3rem;
  }
}

@media (min-width: 610px) {
  .services {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 4rem;
    align-items: center;
  }
}

@media (min-width: 900px) {
  .services {
    padding: 10rem 7.5rem;
  }
}
